* {
    margin: 0;
    padding: 0;
}

body {
    /* width: 100%;
    height: 100%; */
    /* padding-left: 410px;
    padding-top: 11px; */
    background-color: #0e0e15;
    display: flex;
    justify-content: center;
     align-items: center;
    
}

.calculator {
    border: 2px solid #0e0e15;
    /* padding: 10px 0px 13px 0px; */
    /* margin: 10px 415px 0px 415px; */
    text-align: center;
    background-color: #0e0e15;
    border-radius: 15px;
    height: 325px;
    width: 331px;
   margin: 40px 40px 0px 0px;
    
}

/* h2 {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(137, 137, 137);
} */

.search {
    display: flex;
    justify-content: center;
    margin: 7px 0px;

}

input {
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 5px;
    margin: 0px 0px 10px 0px;
    background-color: #0e0e15;
    font-weight: bold;
    /* font-family: 'Jura', sans-serif; */
    font-size: 22px;
    border-radius: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid #0e0e15;
    display: flex;
    align-items: center;
    color: #ffffff;
    
}
.row {
     display: inline-flex;
   justify-content: center;
  align-items: center;
   text-align: center; 
   margin: 0px 0px;

}



.button {
    margin: 8px 6px;
    width: 49px;
    height: 46px;
    /* padding: 10px 15px 10px 15px; */
    text-align: center;
    font-size: 19px;
    box-shadow: -2px -2px 5px #27273b;
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #0a0a0e;
    color: white;
    border: 2px solid #0a0a0e;
}
.button:hover{
    font-weight: bold;
}

.btn1 {
    border-radius: 37px;
    color: #14ad29;
}
.btn_2 {
    background-color: #ff8306;
    border-radius: 37px;
}

.btn2 {
    color: #14ad29;
    border-radius: 37px;
}



.btn3 {
    border-radius: 12px;
}



.row {
    margin: 8px 0px;
}